{% extends 'backend/index.html' %}
{% block title%}Home{%endblock%}
{% block page_title %}Home{% endblock %}
{% block main_content%}
{% load static %}
 <div class="row">



    <div class="col-md-10">
         <h2><i class="fa fa-bars" aria-label="Toggle sidebar"></i> Employee Report</h2>
         <p>Employee Add And Report</p>


          <div class="controls text-left">
          <div data-toggle="buttons-checkbox" class="btn-group">
            <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>

            <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>
             <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>
           <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>
          </div>
         </div>
         <br>

         <div class="controls text-right">
          <div data-toggle="buttons-checkbox" class="btn-group">
             <button  class="btn btn-default"  title='Export PDF' type="button">
                 <a target="_blank" href="">
                     <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                 </a>
             </button>
             <button class="btn btn-default"  title='Export Excel' type="button">
                 <a  href="/daily_attendance_excle">
                     <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                 </a>
             </button>
             <button class="btn btn-default" title='Preview' ttype="button">
                 <a target="_blank" href="/daily_attendance_pdf">
                     <i class="fa fa-file-image-o"></i>
                 </a>
             </button>
            <button class="btn btn-default" title='Print' type="button">
                <i class="fa fa-print" aria-hidden="true"></i>
            </button>
          </div>
         </div>
         <br>


         <div class="tabs tabs-primary">

            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#popular11" data-toggle="tab"><i class="fa fa-table"></i> Employee  Report</a>
                </li>
                <li>
                    <a href="#recent11" data-toggle="tab"><i class="fa fa-plus-square-o"></i>  Employee  Add</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="popular11" class="tab-pane active">
                 <section class="panel panel-primary">
                     <header class="panel-heading portlet-handler">
                       <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title"> <i class="fa fa-table"></i> Employee  Report</h2>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="../assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Product Name</th>
                        <th>Product Code</th>
                        <th>Catagory Name</th>
                        <th>Sub Catagory</th>
                        <th>Product Type</th>
                        <th>Brand</th>
                        <th>Purchase Price</th>
                        <th>Sale Price</th>
                        <th>Off Price</th>
                        <th class="hidden-phone">Status</th>
                        <th class="actions">Action</th>
                    </tr>
                </thead>
                <tbody>
                <tr class="gradeX">
                        <td>1</td>
                        <td>
                            T-shirt
                        </td>
                        <td>
                            Women
                        </td>
                        <td>
                            T-shirt
                        </td>
                        <td>
                            Women
                        </td>
                        <td>
                            Women
                        </td>
                        <td>
                            T-shirt
                        </td>
                        <td>
                            Women
                        </td>
                        <td>
                            T-shirt
                        </td>

                        <td>this thi Women cloth category</td>

                        <td class="center hidden-phone">Active</td>
                        <td class="center actions">
                            <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                            <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </section>

                </div>
                <div id="recent11" class="tab-pane">
                    <form id="form" action="" method="POST" class="form-horizontal">
                        {% csrf_token %}
            <section class="panel panel-primary">
                <header class="panel-heading portlet-handler">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title"><i class="fa fa-plus-square-o"></i> Employee </h2>

                </header>
               					<div class="panel-body">
                                    Basic Info
                                    <hr>
										<div class="form-group">
											<label class="col-sm-3 control-label"> First Name </label>
											<div class="col-sm-9">
												<input type="text" name="employee_code" class="form-control" placeholder="First Name" required/>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label"> Middle Name </label>
											<div class="col-sm-9">
												<input type="text" name="employee_code" class="form-control" placeholder="Middle Name" required/>
											</div>
										</div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"> Last Name </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="employee_code" class="form-control" placeholder="Last Name" required/>
                                            </div>
                                        </div>
    
                                        <div class="form-group">
                                           <label class="col-sm-3 control-label"> Employee Type </label>
                                            <div class="col-sm-9">
                                            <div class="input-group mb-md">
                                                <select class="form-control" required>
                                                    <option>--Select--</option>
                                                </select>
                                                  <span class="input-group-btn">
                                                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                                  </span>
                                             </div>
                                            </div>
                                            </div>
                                            <div class="form-group">
                                            <label class="col-sm-3 control-label"> Gender </label>
                                            <div class="col-sm-9">
                                 
                                                <select  class="form-control" name="gender" required>
                                                    <option>Select</option>
                                                </select>
                                            </div>
                                        </div>
										<div class="form-group">
											<label class="col-sm-3 control-label"> Birth Date(mm/dd) </label>
											<div class="col-sm-9">
												<input type="date" name="date_of_birth" class="form-control" placeholder="Title" required/>
											</div>
										</div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"> Date Of Joining </label>
                                            <div class="col-sm-9">
                                                <input type="date" name="joining_date" class="form-control" placeholder="Title" required/>
                                            </div>
                                        </div>
                               Emargency Contact
                                    <hr>
                                          <div class="form-group">
                                            <label class="col-sm-3 control-label"> Emargency Phone </label>
                                            <div class="col-sm-9">
                                              <input type="text" name="employee_code" class="form-control" placeholder="Emargency Phone" required/>
                                            </div>
                                         </div>
                                           <div class="form-group">
                                            <label class="col-sm-3 control-label"> Emargency Contact </label>
                                            <div class="col-sm-9">
                                               <input type="text" name="employee_code" class="form-control" placeholder="Emargency Contact" required/>
                                            </div>
                                         </div>
                                           <div class="form-group">
                                            <label class="col-sm-3 control-label"> Relation </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="employee_code" class="form-control" placeholder="Relation" required/>
                                            </div>
                                         </div>
                                      Joining Details
                                    <hr>
                                      <div class="form-group">
                                            <label class="col-sm-3 control-label"> Joining Applicant </label>
                                            <div class="col-sm-9">
                                                <input type="date" name="date_of_birth" class="form-control" placeholder="Title" required/>
                                            </div>
                                         </div>
                                           <div class="form-group">
                                            <label class="col-sm-3 control-label"> Offer Date </label>
                                            <div class="col-sm-9">
                                                <input type="date" name="date_of_birth" class="form-control" placeholder="Title" required/>
                                            </div>
                                         </div>
                                           <div class="form-group">
                                            <label class="col-sm-3 control-label"> Confirmation Date </label>
                                            <div class="col-sm-9">
                                                    <input type="date" name="date_of_birth" class="form-control" placeholder="Title" required/>
                                            </div>
                                         </div>
                                           <div class="form-group">
                                            <label class="col-sm-3 control-label"> Date Of Retinement </label>
                                            <div class="col-sm-9">
                                                <input type="date" name="date_of_birth" class="form-control" placeholder="Title" required/>
                                            </div>
                                         </div>
											<div class="form-group">
												<hr>
											<label class="col-sm-3 control-label">Address</label>
											<div class="col-sm-9">



												<table class="table address">
                                                 <thead>
                                                  <tr class="panel-heading portlet-handler">
                                                     <th style="color: white; text-align: center;">
                                                     Post Office
                                                     </th>
                                                     <th style="color: white; text-align: center;">
                                                        Home District
                                                     </th>
                                                     <th style="color: white; text-align: center;">
                                                        Division
                                                     </th>
                                                     <th style="color: white; text-align: center;">
                                                       Village
                                                     </th>
                                                       <th style="color: white; text-align: center;">
                                                        Home Name
                                                     </th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                 <tr>
                                                 <td>
                                                  <input type="text" id="company"  name="post_office" class="form-control" placeholder="Post Office" required/>
                                                  </td>
                                                  <td>
                                                  <input type="text" id="company"  name="home_district" class="form-control" placeholder=" Home District" required/>
                                                  </td>
                                                  <td>
                                                    <input type="text" name="division" class="form-control" placeholder="Division" required/>
                                                 </td>
                                                  <td>
                                                    <input type="text" name="village_ame" class="form-control" placeholder="Village Name" required/>
                                                 </td>
                                                   <td>
                                                    <input type="text" name="homr_name" class="form-control" placeholder=" Home Name" required/>
                                                 </td>
                                               </tr>
                                               </tbody>
                                               </table>
											</div>
										</div>
                                    	<div class="form-group">
                                    		<hr>
											<label class="col-sm-3 control-label">Qualification </label>
											<div class="col-sm-9">

												<div class=" text-right">
													<button class="add_field_button btn btn-primary">Add More</button>
												</div>
												<br>
												<table class="table address">
                                                 <thead>
                                                  <tr class="panel-heading portlet-handler">
                                                     <th style="color: white; text-align: center;">Degree Name</th>
                                                     <th style="color: white; text-align: center;">Board Name</th>
                                                     <th style="color: white; text-align: center;">Passing Year</th>
                                                       <th style="color: white; text-align: center;">Grade</th>
                                                        <th style="color: white; text-align: center;">File</th>

                                                  </tr>
                                                </thead>
                                                <tbody>
                                                 <tr>
                                                 <td>
                                                   <input type="text" id="company"  name="dgree" class="form-control" placeholder="Degree Name" required/>
                                                  </td>
                                                  <td>
                                                  <input type="text" id="company"  name="board" class="form-control" placeholder="Board Name" required/>
                                                  </td>
                                                  <td>
                                                   <input type="text" id="company"  name="year" class="form-control" placeholder="Passing Year" required/>
                                                 </td>
                                                  <td>
                                                   <input type="text" id="company"  name="grade" class="form-control" placeholder=" Grade" required/>
                                                 </td>
                                                 <td>
                                                   <input type="file" id="document"  name="document" class="form-control" />
                                                 </td>
                                               </tr>
                                               </tbody>
                                               </table>
											</div>
										</div>
										<div class="form-group">
												<hr>
											<label class="col-sm-3 control-label">Bank Details</label>
											<div class="col-sm-9">



												<table class="table address">
                                                 <thead>
                                                  <tr class="panel-heading portlet-handler">
                                                     <th style="color: white; text-align: center;">
                                                    Account Holder
                                                     </th>
                                                     <th style="color: white; text-align: center;">
                                                       Account Name
                                                     </th>
                                                     <th style="color: white; text-align: center;">
                                                        Bank Name
                                                     </th>
                                                     <th style="color: white; text-align: center;">
                                                      Branch Name
                                                     </th>

                                                  </tr>
                                                </thead>
                                                <tbody>
                                                 <tr>
                                                 <td>
                                                  <input type="text" id="company"  name="account_holder" class="form-control" placeholder="Account Holder" required/>
                                                  </td>
                                                  <td>
                                                  <input type="text" id="company"  name="account_name" class="form-control" placeholder=" Account Name" required/>
                                                  </td>
                                                  <td>
                                                    <input type="text" name="bank_name" class="form-control" placeholder=" Bank Name" required/>
                                                 </td>
                                                  <td>
                                                    <input type="text" name="branch_name" class="form-control" placeholder=" Branch Name" required/>
                                                 </td>

                                               </tr>
                                               </tbody>
                                               </table>
											</div>
										</div>


									</div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                </footer>
            </section>
        </form>
                </div>
            </div>
        </div>
    </div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header panel panel-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
           <label class="col-sm-3 control-label"> Employee Type </label>
            <div class="col-sm-9">
              <input type="text" name="employee_code" class="form-control" placeholder="Employee Type" required/>
             </div>
        </div>
         <div class="form-group">
           <label class="col-sm-3 control-label"> Status </label>
            <div class="col-sm-9">
                <select class="form-control"  required>
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
             
             </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary __web-inspector-hide-shortcut__">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



</div>
{% endblock %}